<div class="row">
    <div class="container-fluid">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img/ricardo.jpg" class="img-fluid rounded-start" alt="logo">{{!-- {{icon}} --}}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Last Post title</h5> <!-- {{title}}-->
                        <p class="card-text"><small>my dear ricardo...</small></p>{{!-- {{description/abr}} --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img/giga.jpg" class="img-fluid rounded-start" alt="logo">{{!-- {{icon}} --}}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">People who donate me</h5> <!-- {{title}}-->
                        <p class="card-text"><small>Rumors that if you donate me you will look like this</small></p>{{!-- {{description/abr}} --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>